body {
  margin: 0;
  font-family: montserrat;
  background-color:rgb(87, 160, 189);
  /* background:linear-gradient(90deg, red, skyblue); */
  /* background:linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%); */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
